{% extends 'base.html.twig' %}

{% block title %}Accueil - Ligue 3iL{% endblock %}

{% block body %}

<style>
    .larger-text {
      font-size: 25px;
      font-weight: bold;
    }

    .bold {
      font-weight: bold;
    }
</style>

<header class="jumbotron text-center">
    <h1 class="bold">Bienvenue sur le site de la Ligue 3iL</h1>
</header>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <p class="larger-text">Ici vous allez retrouver les clubs qui s'affrontent dans cette ligue avec un classement par saison actualisé après chaque rencontre.</p>
        <p class="larger-text">Vous pourrez consulter les dates et lieux des rencontres à venir, et vous aurez accès à l'historique des rencontres de la saison en cours avec leur score associé.</p>
        {% if not app.user %}
            <p class="larger-text">Inscrivez-vous si vous souhaitez voir les joueurs qui performent dans la Ligue 3iL !</p>
            <a href="{{ path('app_register') }}" class="btn btn-primary">S'inscrire</a>
        {% endif %}
    </div>
</div>

<style>
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: rgb(33,37,41);
        text-align: center;
        padding: 20px;
    }

    .footer p{
        color: white;
    }
</style>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="font-italic">Site réalisé par <a href="https://www.linkedin.com/in/timothekiffer/" class="text-decoration-none">Timothé Kiffer</a> en PHP 8.2 et Symfony 6.2</p>
            </div>
        </div>
    </div>
</footer>
  
{% endblock %}
